.header {
	text-align: center;
	background-color: darkgray;
}
.menu {
	text-align: center;
	background-color: lightgray;
}
.title {
	text-align: center;
	background-color: gray;
	border-style: solid;
	border-width: thin;
	border-color: black;
}
.login {
	text-align: center;
	border-style: solid;
	border-color: black;
	padding-bottom: 8px;
}

.rectangle {
	text-align: center;
	position: relative;
	left: 25%;
	width: 50%;
	height: 100px;
	background: lightblue;
	Font-family: "Arial", Helvetica, sans-Serif;
	Font-size: 400%;
	color: black;
	text-decoration: none;
	vertical-align: middle;
	border-style: solid;
    border-width: 3px;
	border-color: blue;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}